$nice-blue: #00B7FF
$color-red: #CB4335
$color-blue: #229954
$color-yellow: #D4AC0D

body
	font-family: 'Open Sans', Arial, sans-serif
	font-size: 14px

li.selected
	font-weight: 600

ul.build-list
	display: flex
	list-style-type: none
	padding: 0
	white-space: nowrap
	overflow: auto

	li
		margin-bottom: 3px
		margin-right: 5px

		a
			color: $nice-blue
			cursor: pointer
			display: inline-block
			width: 150px
			padding: 3px 7px
			border: 1px solid $nice-blue

	li.selected
		a
			color: #fff
			background-color: $nice-blue

.job-info-container
	display: flex
	overflow-x: auto
	overflow-y: hidden

table.job-table
	border-collapse: collapse
	margin-bottom: 10px
	margin-right: 5px

	caption
		font-size: 18px
		border: 1px solid gray

	th, td
		border: 1px solid gray
		padding: 2px 5px

	th
		text-align: right

.color-indicator
	height: 20px

	&.red
		background-color: $color-red

	&.blue
		background-color: $color-blue

	&.yellow
		background-color: $color-yellow