$nice-blue: #00B7FF

body
  font: 14px "Arial", Helvetica, sans-serif

li.selected
	font-weight: 600

ul.build-list
	list-style-type: none

	li
		margin-bottom: 3px

		a
			color: $nice-blue
			cursor: pointer
			display: inline-block
			width: 150px
			padding: 3px 7px
			border: 1px solid $nice-blue

	li.selected
		a
			color: #fff
			background-color: $nice-blue

table.job-table
	border-collapse: collapse
	margin-bottom: 10px

	th, td
		border: 1px solid gray
		padding: 2px 5px

	th
		text-align: right
